html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

    body {  
        text-align: center;  
        color: white;
        background-image: url(assets/img/background1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

        h1 {
            font-size: 36pt;
        }

        h3 {
            font-size: 20pt;
            text-align: center;
        }
        
        li {
            font-size: 14pt;
        }

        img {
            width: 250px;
            padding: 15px;
        }


        .container {
            background-color: darkblue;
        }

        .row {
            background-color: aqua;
        }
        
        .col-3 {
            text-align: left;
            background-color: blueviolet;
        }

        .fav {
            background-color: brown;
        }

        .giffy {
            background-color: chartreuse;
        }

        .gif {
            width:10%;
            height:0;
            
        }


