.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

.harder {
    font-size: 48pt;
    text-align: center;
    color: darkmagenta;
}
.treat {
    color: green;
}

h1,h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}